<h1>Do you know where your food comes from? If you don't, you should!</h1>
<%= link_to image_tag("farm2.jpg", alt: "Farm photo") %>
<br>
<div>
<p>farmerslist connects farmers growing organic and sustainable products with customers who can't get to farmers markets or want to level up from the grocery store.
</p>
<br>
<p>
farmerslist allows the good folks growing food to post on a public forum in a way that let's their community know what's available, for how much, and where they can find it.
</p>
<br>
<p>
Just remember, everything is negotiable, so haggle away!
</p>
<div>
