<h1>do you know where your food comes from?</h1>
<%= link_to image_tag("farm2.jpg", alt: "Farm photo") %>
<br>
  <div>
    <h2>
    <p>farmerslist® connects farmers with customers who want to learn more about their local food supply.</p>
    <br>
    <p>
    we encourage everyone to get out and visit the places where food is produced and interact with the good folks growing it.</p>
    <br>
    <p>
    your community can use farmerslist® to find out what's available, when, where, and for how much. the rest is up to you.</p>
    <br>
    <p>
    just remember, everything is negotiable, so haggle away!</p>
    <%= link_to "get started now!", posts_path %></h2>
  <div>
