    <h1>welcome to farmerslist®</h1>
    <h2>connecting you to your local food supply since 2017</h2>
    <hr>
  <div>
    <h2> <%= link_to "create an account to post!", new_user_path %>
   | or |
   <%= link_to "see what's available today!", posts_path %> </h2>
  </div>

  <%= link_to image_tag("farm.jpg", alt: "Farm photo") %>
