    <h1>welcome to farmerslist</h1>
    <h2>connecting you to your local food supply since 2017</h2>
    <nav>
      about | contact | home
    </nav>
    <hr>
  <div>
    <%= link_to "get started now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("farm.jpg", alt: "Farm photo") %>
