    <h1>welcome to <strong>farmerslist®</strong></h1>
    <h2>connecting you to your local food supply since 2017</h2>
    <hr>
  <div>
    <h2><%= link_to "click on the farm to see what is available right now!", posts_path %></h2>
  </div>

  <%= link_to image_tag("farm.jpg", alt: "Farm photo"), posts_path %>
