    <h1>welcome to farmerslist®</h1>
    <h2>connecting you to your local food supply since 2017</h2>
    <hr>
  <div>
    <h2><%= link_to "this is available right now!", posts_path %></h2>
  </div>

  <%= link_to image_tag("farm.jpg", alt: "Farm photo"), posts_path %>
