<h1>current posts -- if it's here, it's available</h1>

<strong><%= link_to "create a new post", new_post_path %></strong>
<hr>

<ul>
    <% @posts.each do |post| %>
    <li>
        <strong>
            <%= link_to post.title, post_path(post) %>
        </strong>
        -
        <% if current_user == post.user %>
        ...<%= link_to "delete this post!", post, method: :delete, data: { confirm: "are you sure you want to delete this post?"} %>
        <%= link_to "edit this post!", edit_post_path(post) %>
        <% end %>
    </li>
    <% end %>
</ul>
